*.la
*.a
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
popsquares
slideshow
floaters
*.desktop
cosmos-slideshow.desktop.in
footlogo-floaters.desktop.in
personal-slideshow.desktop.in
popsquares.desktop.in
savers/cosmos-slideshow.xml
gs-theme-engine-marshal.c
gs-theme-engine-marshal.h
