*.la
*.lo
*.o
.deps
.libs
*.desktop
*.desktop.in
Makefile
Makefile.in
gnome-screensaver
gnome-screensaver-command
gnome-screensaver-dialog
gnome-screensaver-gl-helper
gnome-screensaver-preferences
test-fade
test-passwd
test-watcher
test-window
gs-marshal.c
gs-marshal.h
